
* {
  margin: 3px;
  }

body {
  background-color: #F7D23C;
  
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#header-container h1 {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 38px;
  letter-spacing: 3px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 3px 3px 5px #f1ecdf;
  background-color: #F5F4AD;
  
}

.black {
  color: #000000;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}



.main-content h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
    
}



.main-content ul {
  list-style: none;
 
}


.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space;
  align-items: center;
  
  }

 

  .box figure figcaption {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
   
  }

  

nav {
  
  display: flex;
  flex-direction: row;
}

nav ul li {
  font-family: 'Oswald', sans-serif;
  list-style: none;
  display: inline;
  font-weight: bold;
 

}

nav ul li a {
  font-size: 15px;
  color: #333333;
  text-decoration: none;
  padding: 15px;
  border-style: double;
  border-color: #ecc28f;

}

nav ul li a:hover {
  background-color: #d54e69;
  color: #ffffff;

}



.footer-content {
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: 16px;
  font-style: oblique;
  background-color: #f3e498;

}






