body {
  background-color: #fff;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}



#header-container h1 {
  font-family: 'Kalam', cursive;
  font-size: 32px;
  font-style: italic;
  font-weight: bold;

}


nav {
  display: flex;
  flex-direction: row;

}

nav ul li {
list-style: none;
}


.black {color: #000000;

}

.green {color:#00FF00;

}

.red {color:#ff0000;

}

